<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">
    <!-- 여기에 생성할 페이지 코드 작성 -->
    <main class="tableListStyle contractList">
        <div class="container-fluid px-4">
            <h1 class="mt-4">계약관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">협력업체</li>
                <li class="breadcrumb-item active">계약관리</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <div>
                        <i class="fas fa-table me-1"></i>
                        품목 리스트
                    </div>
                    <div class="card bg-primary text-white mb-2 prodBtn">
                        <a href="contractAdd" class="card-body resetLink">계약 등록</a>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>계약업체</th>
                            <th>계약제품</th>
                            <th>계약날짜</th>
                            <th>상세</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>계약업체</th>
                            <th>계약제품</th>
                            <th>계약날짜</th>
                            <th>계약서보기</th>
                            <th>삭제</th>
                        </tr>
                        </tfoot>
                        <tbody >
                        <tr th:each="contract : ${cList}">
                            <td>
                                <input type="hidden" class="contractId" th:value="${contract.contractId}">
                                <div class="cellStyle brandName" th:text="${contract.brandName}" ></div>
                            </td>
                            <td><div class="cellStyle productName" th:text="${contract.productName}" ></div></td>
                            <td><div class="cellStyle contractDate" th:text="${#temporals.format(contract.contractDate, 'yyyy-MM-dd')}"></div></td>
                            <td><div class="cellStyle">
                                <a th:if="${contract.contractFile != '없음'}" th:href="@{|/image/2024/01/19/${contract.contractFile}|}" class="card bg-primary text-white mb-2 listBtn resetLink">등록완료</a>
                                <div th:unless="${contract.contractFile != '없음'}" class="card bg-primary text-white mb-2 listBtn resetLink processBtn">진행중</div>
                            </div></td>
                            <td><div class="cellStyle"><div class="card bg-danger text-white mb-2 listBtn">삭제</div></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="myModal detailModal">
            <div class="card">
                <div class="card-header">
                    <div class="modalTitle">계약 상세</div>
                </div>
                <div class="card-body">
                    <table>
                        <tbody>
                        <tr>
                            <th><input type="hidden" class="modalContractId">계약업체</th>
                            <th>계약제품</th>
                            <th>계약날짜</th>
                        </tr>
                        <tr>
                            <td class="modalBrandName"></td>
                            <td class="modalProductName"></td>
                            <td class="modalContractDate"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="card bg-danger text-white mb-2 moBtn">삭제</div>
                    <div class="card bg-dark text-white mb-2 moBtn">닫기</div>
                </div>
            </div>
        </div>

        <div class="myModal deleteModal">
            <div class="card">
                <div class="card-header">
                    <div class="modalTitle">품목 삭제</div>
                </div>
                <div class="card-body">
                    <table>
                        <tbody>
                        <tr>
                            <th><input type="hidden" class="modalContractId">계약업체</th>
                            <th>계약제품</th>
                            <th>계약날짜</th>
                        </tr>
                        <tr>
                            <td class="modalBrandName"></td>
                            <td class="modalProductName"></td>
                            <td class="modalContractDate"></td>
                        </tr>
                        </tbody>
                    </table>
                    <p>위 상품을 삭제 하시겠습니까?</p>
                </div>
                <div class="card-footer">
                    <div class="card bg-danger text-white mb-2 moBtn deleteBtn">삭제</div>
                    <div class="card bg-dark text-white mb-2 moBtn">닫기</div>
                </div>
            </div>
        </div>
    </main>

    <script>
        $(".myModal .moBtn").on("click", (e) => {
            $(e.target).parents(".myModal").hide();
        })
        $(".myModal.deleteModal .deleteBtn").on("click", () => {
            let modalContractId = document.querySelector(".modalContractId").value;
            $.ajax({
                url : "contractDelete",
                type: "post",
                data: {
                    contractId: modalContractId
                },
                success: function(data) {
                    location.reload();
                },
                error: function(request, error) {
                    alert("code:" + request.status+ "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        })
    </script>
</th:block>
</html>