<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
<th:block layout:fragment="content">
    <main>
        <div class="container-fluid col-sm-8" style="margin-left:250px; padding: 50px 0px;">
            <div class="page-header">
                <h1>발주(구매) 등록</h1>
            </div>
            <div class="row" id="order-form">
                <div class="col-sm-12">
                    <div>
                        <h3 style="display: inline-block; margin-top: 0px;">발주서작성</h3>
                        <div class="" style="float: right; display: inline-block;">
                            <!--<button class="btn btn-info" type="button" th:data-toggle="modal" th:attr="data-target='#member-search'" id="btn-member-search">발주처조회</button>
                            <a href="order.erp"><button type="reset" class="btn btn-danger">전체삭제</button></a>
                            <button class="btn btn-default" id="buy_print">인쇄</button>
                            <button class="btn btn-default" id="buy_xls">엑셀</button>-->
                        </div>
                    </div>
                    <div class="order-new-add" style="margin-top: 10px;" id="order-member-form">
                        <form>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>발주일자</th>
                                    <td><input type="date" id="input-order-form-date" name="orderDate"></td>
                                    <th>납품예정일자</th>
                                    <td id="changeDeliveryDate"></td>
                                    <th>기타</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>발주처명</th>
                                    <!--                            <td th:text="${member.get().name}" id="memberId"></td>-->
                                    <th>발주담당자</th>
                                    <!--                            <td th:text="${member.get().userId}"></td>-->
                                    <th>전화</th>
                                    <!--                            <td th:text="${member.get().email}"></td>-->
                                </tr>
                                <!--<tr>
                                    <th>주소</th>
                                    <td colspan="5">{{member.memberAddress}}</td>
                                </tr>-->

                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </form>
                    </div>

                    <div class="order-add-list">
                        <h3 style="display: inline-block; margin-top: 0px;">상품발주</h3>
                        <div style="float: right; display: inline-block;">
                            <button class="btn btn-success" id="order-add-list-btn">상품내역 닫기</button>
                        </div>
                        <div style="margin-top: 5px;" id="select-add-product">
                            <form id="add-form-list">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <td>
                                            <div class="col-sm-4" id="select-sub-category">
                                                <label> 대분류 :
                                                    <select style="margin: 3px; text-align-last: center; width: 300px"
                                                            id="select-upper-category">
                                                        <option disabled selected value="0">----- 상위 카테고리 -----</option>
                                                        <option th:each="mcate : ${mcategories}" th:value="${mcate}"
                                                                th:text="${mcate}"></option>
                                                    </select>
                                                </label>
                                                <label> 소분류 :
                                                    <select style="margin: 3px; text-align-last: center; width: 300px"
                                                            id="select-category">
                                                        <option disabled selected value="0" id="sub-default">----- 하위
                                                            카테고리 -----
                                                        </option>
                                                        <option th:each="scate:${scategories}" th:value="${scate}"
                                                                th:text="${scate}"></option>
                                                    </select>
                                                </label>
                                                <label> 제　품 :
                                                    <select style="margin: 3px; text-align-last: center; width: 300px"
                                                            id="select-product">
                                                        <option disabled selected id="cate-default">------ 상품 선택하기
                                                            -----
                                                        </option>
                                                        <option th:each="product : ${products}"
                                                                th:value="${product.name}"
                                                                th:text="${product.name}"></option>
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="col-sm-4" id="form-add-order">
                                                <label> 특이사항 :
                                                    <textarea id="orderDescription" rows="10" cols="5"></textarea>
                                                </label>
                                                <label> 수량:
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-outline-secondary" type="button" id="btn-quantity-decrement">-</button>
                                                        </div>
                                                        <input type="text" name="orderNum" id="order-product-volume" class="form-control input-number" value="1" min="1" max="100">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button" id="btn-quantity-increment">+</button>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                            <div>
                                                <div style="float: right; margin-top: 30px; margin-right: 10px;">
                                                    <button type="button" id="btn-productList-add">추가</button>
                                                    <button type="button">취소</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </thead>
                                </table>
                            </form>
                        </div>
                    </div>
                    <form id="order-product-add-form" method="post" action="/order/orderwritelist">
                        <div class="order-list-sheet" id="order-product-add-list"
                             style="height: 248px; overflow: scroll;">
                            <table class="table category-sheet" id="product-add-sheet-list">
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="checkbox-productALL" class="product-checkbox"
                                               style="margin-left: 15px;"/>
                                        <label class="" hidden=""></label>
                                    </th>
                                    <th>No</th>
                                    <th>제품명</th>
                                    <th>수량</th>
                                    <th>특이사항</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${items}">
                                    <!--<td><input type='checkbox' style='margin-left: 15px'/></td>
                                    <td th:text="${item.brandId()}"></td>
                                    <td th:text="${item.orderCode}"></td>
                                    <td th:text="${item.productId}"></td>
                                    <td th:text="${item.orderNum}"></td>
                                    <td th:text="${item.orderDescription}"></td>
                                    <td><button class='btn-product-delete' onclick='removeProduct(/* pass the index here */{{index}})'>삭제</button></td>-->
                                </tr>
                                </tbody>
                            </table>
                            <!--                    <input type="hidden" name="memberNo" th:value="${member.get().memberId}"/>-->
                        </div>
                    </form>
                    <div class="" style="float: right; display: inline-block; margin-top: 10px;">
                        <input type="button" class="btn btn-warning" value="등록" id="btn-order-register"/>
                        <input type="reset" class="btn btn-default" value="취소" onClick="window.location.reload()">
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="member-search" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">발주(구매) 발주처등록</h4>
                    </div>
                    -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12" id="member-detail">
                                <form id="" class="form-horizontal" action="" method="post" enctype="">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="serach-member-no">매장명</label>
                                        <div class="col-sm-10">
                                            <select id="select-members" class="form-control">
                                                <option disabled selected> &#45;&#45;지점을 선택하세요 &#45;&#45;</option>
                                                <option v-bind:value="member.memberNo" v-for="member in members">
                                                    {{member.memberName }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">발주담당자</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="memberEmp"
                                                   placeholder="ex) 김아무개" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">전화번호</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="memberTel"
                                                   placeholder="ex) 02-1234-5678" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2">주소</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" name="memberAddress" readonly>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-member-add" class="btn btn-info" data-dismiss="modal">등록</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script type="text/javascript">
        $(document).ready(function () {
            var orderApp = { rows: 0 };
            // Quantity increment button click event
    $("#btn-quantity-increment").on('click', function () {
        var currentValue = parseInt($("#order-product-volume").val()) || 0;
        var maxValue = parseInt($("#order-product-volume").attr('max')) || 100;

        if (currentValue < maxValue) {
            $("#order-product-volume").val(currentValue + 1);
        }
    });

    // Quantity decrement button click event
    $("#btn-quantity-decrement").on('click', function () {
        var currentValue = parseInt($("#order-product-volume").val()) || 0;
        var minValue = parseInt($("#order-product-volume").attr('min')) || 1;

        if (currentValue > minValue) {
            $("#order-product-volume").val(currentValue - 1);
        }
    });

            // 상품 추가 버튼 클릭 이벤트
            $("#btn-productList-add").click(function () {
                var orderDescription = $("#orderDescription").val();
                var orderVolume = $("#order-product-volume").val();

                // 새로운 행 생성
                var newRow = "<tr>" +
                    "<td><input type='checkbox' style='margin-left: 15px'/></td>" +
                    "<td>" + (orderApp.rows + 1) + "</td>" +
                    "<td>" + $("#select-product option:selected").text() + "</td>" +
                    "<td>" + orderVolume + "</td>" +
                    "<td>" + orderDescription + "</td>" +
                    "<td><button class='btn-product-delete' onclick='removeProduct(" + orderApp.rows + ")'>삭제</button></td>" +
                    "</tr>";

                // 새로운 행을 tbody에 추가
                $("#order-product-add-list tbody").append(newRow);

                // 입력된 값 초기화
                $("#orderDescription").val("");
                $("#order-product-volume").val("1");

                // 행 수 증가
                orderApp.rows++;

                // 합계 갱신
                updateTotalAmount();
            });

            // 상품 삭제 버튼 클릭 이벤트
            function removeProduct(index) {
                // 해당 행을 찾아서 삭제
                $("#order-product-add-list tbody tr").eq(index).remove();

                // 행 수 감소
                orderApp.rows--;

                // 합계 갱신 (필요한 경우)
                // updateTotalAmount();
            }

             // "모두 선택" 체크박스 이벤트
                $("#checkbox-productALL").change(function () {
                    var isChecked = $(this).prop('checked');
                    $(".product-checkbox").prop('checked', isChecked);
                });


            // 발주등록 열기/닫기 정의
            $(".order-add-list #order-add-list-btn").click(function () {
                if ($(this).text() == "상품내역 닫기") {
                    $(".order-add-list #add-form-list").hide();
                    $(this).text("상품내역 열기");
                } else {
                    $(".order-add-list #add-form-list").show();
                    $(this).text("상품내역 닫기");
                }
            });

            // AJAX를 이용하여 서버에 상위 카테고리에 속하는 하위 카테고리 요청
            // (이 부분에 관련 코드 추가)

            // 상위 카테고리 선택 시 하위 카테고리 업데이트
            $("#select-upper-category").change(function () {
                var upperCategoryNo = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "/ezen25/order/updatesubcategory",
                    data: { uppercateno: upperCategoryNo },
                    success: function (result) {
                        updateLowerCategories(result);
                    },
                    error: function (error) {
                        console.error("Error fetching subcategories:", error);
                    }
                });
            });

            // 서버에서 받아온 하위 카테고리로 선택 박스 업데이트
            function updateLowerCategories(result) {
                var lowerCategorySelect = $("#select-category");
                lowerCategorySelect.html("<option disabled selected value='0' id='sub-default'>----- 하위 카테고리 -----</option>");

                for (var i = 0; i < result.length; i++) {
                    var option = $("<option></option>").attr("value", result[i]).text(result[i]);
                    lowerCategorySelect.append(option);
                }
            }

            // 하위 카테고리 선택 시 상품 업데이트
            $("#select-category").change(function () {
                var selectedSubCategory = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "/ezen25/order/getproduct",
                    data: { subcategory: selectedSubCategory },
                    success: function (result) {
                        updateProductDropdown(result);
                    },
                    error: function (error) {
                        console.error("Error fetching products:", error);
                    }
                });
            });

            // 서버에서 받아온 상품으로 선택 박스 업데이트
            function updateProductDropdown(result) {
                var productSelect = $("#select-product");
                productSelect.html("<option disabled selected id='cate-default'>- 상품 선택하기 -</option>");

                for (var i = 0; i < result.length; i++) {
                    var product = result[i];
                    console.log(result); // result 배열의 내용을 확인

                    // 새로운 option 요소를 생성합니다.
                    var option = $("<option></option>");

                    // 'value' 속성을 상품의 ID로 설정합니다.
                    option.attr("value", product.product_id);

                    // 옵션의 텍스트 내용을 상품의 이름으로 설정합니다.
                    option.text(product.product_name);

                    // 'select-product' ID를 가진 드롭다운(선택) 엘리먼트에 옵션을 추가합니다.
                    productSelect.append(option);
                }

                console.log($("#select-product").html()); // 선택박스의 HTML 내용을 확인
            }

            // 발주일자 변경 시 납품예정일자 업데이트
            $("#input-order-form-date").on('change', function () {
                var selectedDate = new Date($(this).val());
                selectedDate.setDate(selectedDate.getDate() + 3);
                $("#changeDeliveryDate").text(formattedDate(selectedDate));
            });

            // 포맷팅된 날짜 반환 함수
            function formattedDate(date) {
                var year = date.getFullYear();
                var month = (date.getMonth() + 1) < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1);
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

                return year + "-" + month + "-" + day;
            }

            // 발주 등록 버튼 클릭 시 submit 및 알림
            $("#btn-order-register").on('click', function () {
                $("#order-product-add-form").submit();
                alert("발주가 완료되었습니다.");
            });
        });
    </script>
</th:block>
</html>