<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/layout/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
    <main>
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h1 class="mt-4"> 발주 수정 - #[[${orderCode}]]</h1>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <form action="/ezen25/order/ordermod" method="post">
                        <!--페이지 번호 hidden으로 받기-->
                        <input name="orderId" th:value="${orderdto.orderId}" type="hidden">
                        <input name="orderCode" th:value="${orderCode}" type="hidden">
                        <div class="white_shd full margin_bottom_30">
                            <input name="page" th:value="${pageRequestDTO.page}" type="hidden">
                            <input name="type" th:value="${pageRequestDTO.type}" type="hidden">
                            <input name="keyword" th:value="${pageRequestDTO.keyword}" type="hidden">

                            <div class="full graph_head">
                                <table class="table_for_details" width="100%">
                                    <tr class="tr_for_details">
                                    <tr class="tr_for_details">
                                        <td class="td_for_details">발주코드</td>
                                        <td class="td_for_details" colspan="3">[[${orderCode}]]</td>
                                    </tr>
                                    <tr class="tr_for_details">
                                        <td class="td_for_details">지점명</td>
                                        <td class="td_for_details">[[${orderdto.name}]]</td>
                                        <td class="td_for_details">발주일자</td>
                                        <td class="td_for_details">[[${orderdto.orderDate}]]</td>
                                    </tr>
                                    <tr th:each="order : ${orderlist}" class="tr_for_details">
                                        <td class="td_for_details">품목 코드</td>
                                        <td class="td_for_details" th:text="${order.productId}"></td>
                                        <td class="td_for_details">개수</td>
                                        <td class="td_for_details" th:text="${order.orderNum}"></td>
                                    </tr>
                                    <tr class="tr_for_details">
                                        <td class="td_for_details">상태</td>
                                        <td class="td_for_details" colspan="3">
                                            <span th:if="${orderdto.orderStatus == '0'}">발주요청</span>
                                            <span th:if="${orderdto.orderStatus == '1'}">진행중</span>
                                            <span th:if="${orderdto.orderStatus == '2'}">완료</span>
                                        </td>
                                    </tr>
                                    <tr class="tr_for_details">
                                        <td class="td_for_details">비고</td>
                                        <td class="td_for_details" colspan="5">
                                           <textarea class="form-control" name="orderDescription"
                                                     style="height: 225px;" th:text="${orderdto.orderDescription}"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div style="float:right;">
                <button class="btn btn-primary modifyBtn" type="button">수정</button>

                <button class="btn btn-info listBtn" type="button">목록</button>

                <button class="btn btn-danger removeBtn" type="button">Remove</button>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:inline="javascript">
            var actionForm = $("form");

            $(".removeBtn").click(function(){

                actionForm
                    .attr("action", "/ezen25/order/orderdel")
                    .attr("method", "post");

                actionForm.submit();

            });

           $(".modifyBtn").click(function() {
    if(!confirm("수정하겠습니까?")) {
        return;
    }

    actionForm.attr("action", "/ezen25/order/ordermod");
    actionForm.attr("method", "post");
    actionForm.submit();
});

            $('.listBtn').click(function() {

                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");
                var orderCode= $("input[name='orderCode]");


                actionForm.empty();
                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);
                actionForm.append(orderCode);
                actionForm
                    .attr("action", "/ezen25/order/search")
                    .attr("method", "get");

                console.log(actionForm.html());
                actionForm.submit();
            });
        </script>
    </main>
</th:block>
</html>