<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">
    <h1 class="mt-4">발주 요청리스트</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">지점명</th>
            <th scope="col">발주서 코드</th>
            <th scope="col">발주일자</th>
            <th scope="col">상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto : ${result.dtoList}">
            <th scope="row">[[${dto.orderId}]]</th>
            <td>[[${dto.memberId}]]</td>
            <td>[[${dto.orderCode}]]</td>
            <td>[[${dto.orderDate}]]</td>
            <td>[[${dto.orderStatus}]]</td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination h-100 justify-content-center align-items-center">
        <li class="page-item " th:if="${result.prev}">
            <a class="page-link" th:href="@{/order/list(page= ${result.start -1})}" tabindex="-1">◀</a>
        </li>
        <li th:class=" 'page-item ' + ${result.page == page? 'active':''} "
            th:each="page: ${result.pageList}">
            <a class="page-link" th:href="@{/order/list(page= ${page})}">[[${page}]]</a>
        </li>
        <li class="page-item" th:if="${result.next}">
            <a class="page-link" th:href="@{/order/list(page= ${result.end +1})}">▶</a>
        </li>
    </ul>
</th:block>
</html>