<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/layout/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
    <main>
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h1 class="mt-4"> 발주 품목 수정 - #[[${orderDTO.orderId}]]</h1>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <form action="/ezen25/order/mod" method="post">
                        <!--페이지 번호 hidden으로 받기-->
                        <input name="orderId" th:value="${orderDTO.orderId}" type="hidden">
                        <input name="orderCode" th:value="${orderDTO.orderCode}" type="hidden">
                        <div class="white_shd full margin_bottom_30">
                            <input name="page" th:value="${pageRequestDTO.page}" type="hidden">
                            <input name="type" th:value="${pageRequestDTO.type}" type="hidden">
                            <input name="keyword" th:value="${pageRequestDTO.keyword}" type="hidden">

                            <div class="full graph_head">
                                <table class="table_for_details" width="100%">
                                    <tr class="tr_for_details">
                                        <td class="td_for_details">발주 코드</td>
                                        <td class="td_for_details">
                                            [[${orderDTO.orderCode}]]
                                        </td>
                                    </tr>
                                    <tr class="tr_for_details">
                                        <td class="td_for_details">품목 코드</td>
                                        <td class="td_for_details">
                                            <input class="form-control"
                                                   name="productId"
                                                   th:value="${orderDTO.productId}"
                                                   type="text">
                                        </td>
                                    </tr>
                                    <tr class="tr_for_details">
                                        <td class="td_for_details">개수</td>
                                        <td class="td_for_details">
                                            <input class="form-control"
                                                   name="orderNum"
                                                   th:value="${orderDTO.orderNum}"
                                                   type="text">
                                        </td>
                                    </tr>
                                    <tr class="tr_for_details">
                                        <td class="td_for_details">날짜</td>
                                        <td class="td_for_details">
                                            <input class="form-control"
                                                   name="orderDate"
                                                   th:value="${orderDTO.orderDate}"
                                                   type="text" readonly>
                                        </td>
                                    </tr>
                                    <tr class="tr_for_details">
                                        <td class="td_for_details">상태</td>
                                        <td class="td_for_details">
                                            <input class="form-control"
                                                   name="orderStatus"
                                                   th:value="${orderDTO.orderStatus}"
                                                   type="text" readonly>
                                        </td>
                                    </tr>
                                    <tr class="tr_for_details">
                                        <td class="td_for_details">비고</td>
                                        <td class="td_for_details">
                                            <input class="form-control"
                                                   name="orderDescription"
                                                   th:value="${orderDTO.orderDescription}"
                                                   type="text" readonly>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div style="float:right;">
                <button class="btn btn-primary modifyBtn" type="button">수정</button>

                <button class="btn btn-info listBtn" type="button">목록</button>

                <button class="btn btn-danger removeBtn" type="button">Remove</button>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:inline="javascript">
            var actionForm = $("form");

            $(".removeBtn").click(function(){

                actionForm
                    .attr("action", "/ezen25/order/del")
                    .attr("method", "post");

                actionForm.submit();

            });

           $(".modifyBtn").click(function() {
    if(!confirm("수정하겠습니까?")) {
        return;
    }

    actionForm.attr("action", "/ezen25/order/mod");
    actionForm.attr("method", "post");
    actionForm.submit();
});

            $('.listBtn').click(function() {

                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");

                actionForm.empty();
                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);

                actionForm
                    .attr("action", "/ezen25/order/search")
                    .attr("method", "get");

                console.log(actionForm.html());
                actionForm.submit();
            });
        </script>
    </main>
</th:block>
</html>