<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">
    <!-- 여기에 생성할 페이지 코드 작성 -->
    <main class="tableListStyle planList">
        <div class="container-fluid px-4">
            <h1 class="mt-4">계획목록</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">조달계획</li>
                <li class="breadcrumb-item active">계획목록</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <div>
                        <i class="fas fa-table me-1"></i>
                        조달계획 목록
                    </div>
                    <div class="card bg-primary text-white mb-2 prodBtn">
                        <a href="planAdd" class="card-body resetLink">계획등록</a>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>날짜</th>
                            <th>협력업체</th>
                            <th>품목</th>
                            <th>수량</th>
                            <th>상세</th>
                            <th>삭제</th>
                            <th>계획상태</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>날짜</th>
                            <th>협력업체</th>
                            <th>품목</th>
                            <th>수량</th>
                            <th>상세</th>
                            <th>삭제</th>
                            <th>계획상태</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="plan, planStat: ${planlist}">
                            <td>
                                <input type="hidden" class="planId" th:value="${plan.planId}">
                                <div class="cellStyle planName" th:text="${#temporals.format(plan.completeDate,'yyyy-MM-dd')}"></div>
                            </td>
                            <td><div class="cellStyle planName" th:text="${plan.brandName}"></div></td>
                            <td><div class="cellStyle sCategory" th:text="${plan.productName}"></div></td>
                            <td><div class="cellStyle sCategory" th:text="${plan.planNumber}"></div></td>
                            <td><div class="cellStyle"><a href="#" class="card bg-primary text-white mb-2 listBtn resetLink">상세</a></div></td>
                            <td><div class="cellStyle"><div class="card bg-danger text-white mb-2 listBtn">삭제</div></div></td>
                            <td><div class="cellStyle sCategory" th:text="${plan.planStatus}"></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="myModal">
            <div class="card">
                <div class="card-header">
                    <div class="modalTitle">품목 삭제</div>
                </div>
                <div class="card-body">
                    <table>
                        <tbody>
                        <tr>
                            <th rowspan="4">
                                <input type="hidden" class="modalplanId">
                                <img class="modalImg" src="/image/NoImg.png" alt="">
                            </th>
                            <th>브랜드</th>
                            <th>대분류</th>
                            <th>소분류</th>
                        </tr>
                        <tr>
                            <td class="modalBrand"></td>
                            <td class="modalMCate"></td>
                            <td class="modalSCate"></td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <th>생산가격</th>
                            <th>판매가격</th>
                        </tr>
                        <tr>
                            <td class="modalName"></td>
                            <td class="modalOriginal"></td>
                            <td class="modalSale"></td>
                        </tr>
                        </tbody>
                    </table>
                    <p>위 상품을 삭제 하시겠습니까?</p>
                </div>
                <div class="card-footer">
                    <div class="card bg-danger text-white mb-2 moBtn deleteBtn">삭제</div>
                    <div class="card bg-dark text-white mb-2 moBtn">닫기</div>
                </div>
            </div>
        </div>
    </main>

    <script>
        $(".myModal .moBtn").on("click", () => {
            $(".myModal").hide();
        })
        $(".myModal .deleteBtn").on("click", () => {
            let modalplanId = document.querySelector(".modalplanId").value;
            $.ajax({
                url : "planDelete",
                type: "post",
                data: {
                    planId: modalplanId
                },
                success: function(data) {
                    location.reload();
                },
                error: function(request, error) {
                    alert("code:" + request.status+ "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        })
    </script>
</th:block>
</html>