<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="content">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link rel="stylesheet" href="/pluto/css/bootstrap.min.css" />
  <!-- responsive css -->
  <link rel="stylesheet" href="/pluto/css/responsive.css" />
  <!-- select bootstrap -->
  <link rel="stylesheet" href="/pluto/css/bootstrap-select.css" />
  <!-- scrollbar css -->
  <link rel="stylesheet" href="/pluto/css/perfect-scrollbar.css" />
  <!-- fancy box js -->
  <link rel="stylesheet" href="/pluto/css/jquery.fancybox.css" />
  <!-- 여기에 생성할 페이지 코드 작성 -->
  <main>
      <div class="container-fluid">
        <div class="row column_title">
          <div class="col-md-12">
            <div class="page_title">
              <h2>협력업체 관리</h2>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="">
          <!-- table section -->
          <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
              <div class="full graph_head">
                <div class="heading1 margin_0">
                  <h2>협력업체 리스트</h2>
                  <login>
                  <a sec:authorize="isAnonymous()" th:href="@{/ezen25/main/login}">Login</a>
                  <a sec:authorize="isAuthenticated()" th:href="@{/ezen25/main/logout}">Logout</a>
                  </login>
                  <a th:href="@{/ezen25/main/signup}">Sign Up</a>
                </div>
                <a th:href="@{/ezen25/brand/register}">
                  <button style="float:right;" type="button" class="btn btn-outline-primary">등록하기</button>
                </a>
              </div>
              <div class="full graph_head">
                <div>
                  <form action="/ezen25/brand/list" method="get" id="searchForm">
                    <div class="input-group">
                      <input type="hidden" name="page" value="1">
                      <div class="input-group-prepend">
                        <select class="custom-select" name="type">
                          <option value="nped" th:selected="${pageRequestDTO.type == 'nped'}">
                            전체
                          </option>
                          <option value="n" th:selected="${pageRequestDTO.type == 'n'}">
                            이름
                          </option>
                          <option value="p" th:selected="${pageRequestDTO.type == 'p'}">
                            연락처
                          </option>
                          <option value="e" th:selected="${pageRequestDTO.type == 'e'}">
                            이메일
                          </option>
                          <option value="d" th:selected="${pageRequestDTO.type == 'd'}">
                            설명
                          </option>

                        </select>
                      </div>
                      <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                      <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
                        <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div>

                </div>
              </div>
              <div class="table_section padding_infor_info">
                <div class="table-responsive-sm">
                  <table class="table" style="text-align:center;">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>브랜드 이름</th>
                      <th>연락처</th>
                      <th>이메일</th>
                      <th>설명</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dto : ${result.dtoList}">
                      <td>
                        <a th:href="@{/ezen25/brand/read(brandId = ${dto.brandId}, page= ${result.page},
                        type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                        [[${dto.brandId}]]
                        </a></td>
                      <td>[[${dto.brandName}]]</td>
                      <td>[[${dto.brandPhone}]]</td>
                      <td>[[${dto.brandEmail}]]</td>
                      <td>[[${dto.brandDescription}]]</td>
                    </tr>
                    </tbody>
                  </table>
                  <ul class="pagination h-100 justify-content-center align-items-center">
                    <li class="page-item " th:if="${result.prev}">
                      <a class="page-link" th:href="@{/ezen25/brand/list(page = ${result.start-1}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}" tabindex="-1"><</a>
                    </li>

                    <li th:class="'page-item ' + ${result.page == page?'active':''}" th:each="page: ${result.pageList}">
                      <a class="page-link" th:href="@{/ezen25/brand/list(page = ${page}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}">[[${page}]]</a>
                    </li>

                    <li class="page-item" th:if="${result.next}">
                      <a class="page-link" th:href="@{/ezen25/brand/list(page = ${result.end + 1}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}">></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script th:inline="javascript">

      var searchForm = $("#searchForm");

      $('.btn-search').click(function(e) {

          searchForm.submit();

      });

      $('.btn-clear').click(function(e) {

          searchForm.empty().submit();

      });

    </script>
  </main>
</th:block>
</html>