<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">
  <!-- 여기에 생성할 페이지 코드 작성 -->
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">품목관리</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">품목관리</a></li>
        <li class="breadcrumb-item active">품목리스트</li>
      </ol>
      <div class="card mb-4">
        <div class="card-body">
          DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
          <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
          .
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          품목 리스트
        </div>
        <div class="card-body">

          <table id="datatablesSimple">
            <thead>
            <tr>
              <th>#</th>
              <th>브랜드 이름</th>
              <th>연락처</th>
              <th>이메일</th>
              <th>설명</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>#</th>
              <th>브랜드</th>
              <th>연락처</th>
              <th>이메일</th>
              <th>설명</th>
            </tr>
            </tfoot>
            <tbody>
            <tr th:each="dto : ${brand.dtoList}">
              <th>[[${dto.brandId}]]</th>
              <th>[[${dto.brandName}]]</th>
              <th>[[${dto.brandPhone}]]</th>
              <th>[[${dto.brandEmail}]]</th>
              <th>[[${dto.brandDescription}]]</th>
            </tr>
            </tbody>

          </table>
          <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${brand.prev}">
              <a class="page-link" th:href="@{/ezen25/brand/list(page = ${brand.start-1}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}" tabindex="-1">Previous</a>
            </li>

            <li class="'page-item' + ${brand.page == page?'active':''}" th:each="page: ${brand.pageList}">
              <a class="page-link" th:href="@{/ezen25/brand/list(page = ${page}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}">[[${page}]]</a>
            </li>

            <li class="page-item" th:if="${brand.next}">
              <a class="page-link" th:href="@{/ezen25/brand/list(page = ${brand.end + 1}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</th:block>
</html>