<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/layout/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
    <main>
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h2>브랜드 수정</h2>
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <form action="/ezen25/brand/modify" method="post">
                        <!--페이지 번호 hidden으로 받기-->
                        <input type="hidden" name="brandId" th:value="${dto.brandId}">
                        <div class="white_shd full margin_bottom_30">
                            <input name="page" th:value="${requestDTO.page}" type="hidden">
                            <input name="type" th:value="${requestDTO.type}" type="hidden">
                            <input name="keyword" th:value="${requestDTO.keyword}" type="hidden">

                            <div class="full graph_head">
                                <label>브랜드 이름</label>
                                <input class="form-control" name="brandName" th:value="${dto.brandName}" type="text">
                            </div>
                            <div class="full graph_head">
                                <label>연락처</label>
                                <input class="form-control" name="brandPhone" rows="5" th:value="${dto.brandPhone}">
                            </div>
                            <div class="full graph_head">
                                <label>이메일</label>
                                <input class="form-control" name="brandEmail" th:value="${dto.brandEmail}" type="text">
                            </div>
                            <div class="full graph_head">
                                <label>기타</label>
                                <textarea class="form-control" name="brandDescription" rows="5">[[${dto.brandDescription}]]</textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div style="float:right;">
                <button class="btn btn-primary modifyBtn" type="button">Modify</button>

                <button class="btn btn-info listBtn" type="button">List</button>

                <button class="btn btn-danger removeBtn" type="button">Remove</button>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:inline="javascript">
            var actionForm = $("form");

            $(".removeBtn").click(function(){

                actionForm
                    .attr("action", "/ezen25/brand/remove")
                    .attr("method", "post");

                actionForm.submit();

            });

            $(".modifyBtn").click(function() {

            if(!confirm("수정하겠습니까?")) {
                return ;
            }

            actionForm
                .attr("action", "/ezen25/brand/modify")
                .attr("method", "post")
                .submit();
            });

            $('.listBtn').click(function() {

            <!--var pageInfo = $("input[name='page']");-->
            var page = $("input[name='page']");
            var type = $("input[name='type']");
            var keyword = $("input[name='keyword']");

            actionForm.empty(); <!--form 태그의 모든 내용 지움-->
            <!--actionForm.append(pageInfo); &lt;!&ndash;목록 페이지 이동에 필요한 내용을 다시 추가&ndash;&gt;-->
            actionForm.append(page);
            actionForm.append(type);
            actionForm.append(keyword);

            actionForm
                .attr("action", "/ezen25/brand/list")
                .attr("method", "get");

            console.log(actionForm.html()); <!--먼저 확인 후 주석처리-->
            actionForm.submit(); <!--확인 후 주석 해제-->

            });
        </script>
    </main>
</th:block>
</html>
