<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/layout/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<th:block layout:fragment="content">
    <!-- 여기에 생성할 페이지 코드 작성 -->
    <main>
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h1 class="mt-4">브랜드 상세보기</h1>
                    </div>
                </div>
            </div>
            <input type="hidden" name="brandId" th:value="${dto.brandId}">
            <div>
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <label>브랜드 이름</label>
                            <input class="form-control" name="brandName" readonly th:value="${dto.brandName}"
                                   type="text">
                        </div>
                        <div class="full graph_head">
                            <label>연락처</label>
                            <input class="form-control" name="brandPhone" readonly th:value="${dto.brandPhone}"
                                   type="text">
                        </div>
                        <div class="full graph_head">
                            <label>이메일</label>
                            <input class="form-control" name="brandEmail" readonly th:value="${dto.brandEmail}"
                                   type="text">
                        </div>
                        <div class="full graph_head">
                            <label>설명</label>
                            <textarea class="form-control" name="brandDescription" readonly
                                      rows="5">[[${dto.brandDescription}]]</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float:right;">
                <a th:href="@{/ezen25/brand/modify(brandId = ${dto.brandId}, page = ${requestDTO.page},
         type = ${requestDTO.type}, keyword = ${requestDTO.keyword})}">
                    <button class="btn btn-primary" type="button">Modify</button>
                </a>
                <a th:href="@{/ezen25/brand/list(page=${requestDTO.page}, type = ${requestDTO.type},
         keyword = ${requestDTO.keyword})}">
                    <button class="btn btn-info" type="button">List</button>
                </a>
            </div>
        </div>
    </main>
</th:block>
</html>