<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/layout/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<th:block layout:fragment="content">
    <!-- 여기에 생성할 페이지 코드 작성 -->
    <main>
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h1 class="mt-4">출하 품목 - #[[${exportDTO.exportId}]]</h1>
                    </div>
                </div>
            </div>
            <input name="exportId" th:value="${exportDTO.exportId}" type="hidden">

            <div>
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <table class="table_for_details" width="100%">
                                <tr class="tr_for_details" style="font-align:left;">
                                    <th class="td_for_details">품목 코드</th>
                                    <td class="td_for_details">[[${exportDTO.productId}]]</td>
                                </tr>
                                <tr class="tr_for_details">
                                    <th class="td_for_details">개수</th>
                                    <td class="td_for_details">[[${exportDTO.exportNum}]]개</td>
                                </tr>
                                <tr class="tr_for_details">
                                    <th class="td_for_details">날짜</th>
                                    <td class="td_for_details">[[${exportDTO.exportDate}]]</td>
                                </tr>
                                <tr class="tr_for_details">
                                    <th class="td_for_details">발주 코드</th>
                                    <td class="td_for_details">[[${exportDTO.orderCode}]]</td>
                                </tr>
                                <tr class="tr_for_details">
                                    <th class="td_for_details">상태</th>
                                    <td class="td_for_details">[[${exportDTO.exportStatus}]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float:right;">
                <a th:href="@{/ezen25/order/export/modify(exportId = ${exportDTO.exportId}, page = ${pageRequestDTO.page},
         type = ${pageRequestDTO.type}, keyword = ${pageRequestDTO.keyword})}">
                    <button class="btn btn-primary" type="button">Modify</button>
                </a>
                <a></a>
                <a th:href="@{/ezen25/order/export/list(page=${pageRequestDTO.page}, type = ${pageRequestDTO.type},
         keyword = ${pageRequestDTO.keyword})}">
                    <button class="btn btn-info" type="button">List</button>
                </a>
            </div>
        </div>
    </main>
</th:block>
</html>