<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">재고관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a th:href="@{/stock/exporting}">출고처리</a></li>
                <li class="breadcrumb-item active">재고관리</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    DataTables is a third party plugin that is used to generate the demo table below. For more information
                    about DataTables, please visit the
                    <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                    .
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    출고처리
                </div>
                <div class="card-body">
                    <div class="panel-heading">
                        <p style="text-align:center; font-size:20px;"><span style="font-weight:bold;">member.name</span>점</p>
                    </div>
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>이미지</th>
                            <th>상품코드</th>
                            <th>상품명</th>
                            <th>상품분류</th>
                            <th>현재고</th>
                            <th>출고수량</th>
                            <th>변경수량</th>
                            <th>단가</th>
                            <th>공급가액</th>
                            <th>판매가</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="dto,stat : ${result}">
                                <th>[[${stat.count}]]</th>
                                <td>[[${dto.image}]]</td>
                                <td>[[${dto.productId}]]</td>
                                <td>[[${dto.productName}]]</td>
                                <td>[[${dto.mCategory}]] / [[${dto.sCategory}]]</td>
                                <td>[[${dto.originalPrice}]]</td>
                                <td>[[${dto.sellPrice}]]</td>
                                <td>[[${dto.productNum}]]</td>
                                <td th:text="${#temporals.format(dto.importDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</th:block>
</html>