<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">
    <h1 class="mt-4">재고 리스트</h1>
    <table>
        <tr>
            <th></th>
            <th>이미지</th>
            <th>상품코드</th>
            <th>상품명</th>
            <th>상품 분류</th>
            <th>단위</th>
            <th>입고가</th>
            <th>판매가</th>
            <th>재고수량</th>
            <th>입고일</th>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</th:block>
</html>