<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">재고관리</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a th:href="@{/ezen25/stock/list}">재고리스트</a></li>
                <li class="breadcrumb-item active">재고관리</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    재고리스트
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>이미지</th>
                            <th>상품코드</th>
                            <th>상품명</th>
                            <th>상품분류</th>
                            <th>입고가</th>
                            <th>판매가</th>
                            <th>재고수량</th>
                            <th>입고일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dto, stat : ${stockList}">
                            <th th:text="${stat.count}"></th>
                            <td>
                                <img style="height: 40px; width: 40px;" class="image" th:if="${dto?.image != null}" th:src="@{|/image/${dto?.image.substring(0,10).replaceAll('-','/')}/${dto?.image}|}" alt="이미지"/>
                                <img style="height: 40px; width: 40px;" class="image" th:unless="${dto?.image != null}" th:src="@{/image/NoImg.png}" alt="이미지"/>
                            </td>
                            <td th:text="${dto?.productId}"></td>
                            <td th:text="${dto?.productName}"></td>
                            <td th:text="${dto?.mCategory} + '/' + ${dto?.sCategory}"></td>
                            <td th:text="${dto?.originalPrice}"></td>
                            <td th:text="${dto?.sellPrice}"></td>
                            <td th:text="${dto?.productNum}"></td>
                            <td th:text="${#temporals.format(dto?.importDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</th:block>
</html>