@charset "UTF-8";

#datatablesSimple th {
    text-align: center
}

.cellStyle {
    width: 100%;
    height: 40px;
    display: grid;
    place-items: center;
}
.cellStyle img{
    height: 40px;
    width: 40px;
}