<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">
    <!-- 여기에 생성할 페이지 코드 작성 -->
    <main class="tableListStyle planList">
        <div class="container-fluid px-4">
            <h1 class="mt-4">계획목록</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">조달계획</li>
                <li class="breadcrumb-item active">계획목록</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <div class="flex leftHeader">
                        <i class="fas fa-table me-1 shrink"></i>
                        <span class="shrink">조달계획 목록</span>
                        <input type="date" class="form-control shrink">
                    </div>
                    <div class="flex" style="flex-shrink: 2;">
                        <div class="card bg-primary text-white mb-2 prodBtn" id="datepicker">
                            <a href="planAdd" class="card-body resetLink">날짜조회</a>
                        </div>
                        <div class="card bg-primary text-white mb-2 prodBtn">
                            <a href="planAdd" class="card-body resetLink">계획등록</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>날짜</th>
                            <th>협력업체</th>
                            <th>품목</th>
                            <th>수량</th>
                            <th>상세</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>날짜</th>
                            <th>협력업체</th>
                            <th>품목</th>
                            <th>수량</th>
                            <th>수정</th>
                            <th>삭제</th>
                        </tr>
                        </tfoot>
                        <tbody>
                            <tr th:each="plan, planStat: ${pList}">
                                <td>
                                    <input type="hidden" class="planId" th:value="${plan.planId}">
                                    <div class="cellStyle planDate" th:text="${#temporals.format(plan.completeDate,'yyyy-MM-dd')}"></div>
                                </td>
                                <td><div class="cellStyle brandName" th:text="${plan.brandName}"></div></td>
                                <td><div class="cellStyle productName" th:text="${plan.productName}"></div></td>
                                <td><div class="cellStyle planNumber" th:text="${plan.planNumber}"></div></td>
                                <td><div class="cellStyle"><div class="card bg-primary text-white mb-2 listBtn resetLink modify">수량수정</div></div></td>
                                <td><div class="cellStyle"><div class="card bg-danger text-white mb-2 listBtn">삭제</div></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="myModal modifyModal">
            <div class="card">
                <div class="card-header">
                    <div class="modalTitle">계획 수량 수정</div>
                </div>
                <div class="card-body">
                    <input type="hidden" class="modalPlanId">
                    <table>
                        <tbody>
                        <tr>
                            <th>날짜</th>
                            <th>협력업체</th>
                            <th>품목</th>
                        </tr>
                        <tr>
                            <td class="modalDate"></td>
                            <td class="modalBrand"></td>
                            <td class="modalProduct"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-floating mb-3" style="width: 40%; margin: 20px auto 0;">
                        <input class="form-control setNum" id="modifyPlanNum" type="text" />
                        <label for="modifyPlanNum">수량</label>
                    </div>
                    <div class="numBtnGroup">
                        <div class="numBtns">-1</div>
                        <div class="numBtns">-10</div>
                        <div class="numBtns">-100</div>
                        <div class="numBtns">-1000</div>
                        <div class="numBtns">+1</div>
                        <div class="numBtns">+10</div>
                        <div class="numBtns">+100</div>
                        <div class="numBtns">+1000</div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card bg-danger text-white mb-2 moBtn modify">수정</div>
                    <div class="card bg-dark text-white mb-2 moBtn">닫기</div>
                </div>
            </div>
        </div>
        <div class="myModal deleteModal">
            <div class="card">
                <div class="card-header">
                    <div class="modalTitle">계획 삭제</div>
                </div>
                <div class="card-body">
                    <input type="hidden" class="modalPlanId">
                    <table>
                        <tbody>
                        <tr>
                            <th>날짜</th>
                            <th>협력업체</th>
                            <th>품목</th>
                            <th>수량</th>
                        </tr>
                        <tr>
                            <td class="modalDate"></td>
                            <td class="modalBrand"></td>
                            <td class="modalProduct"></td>
                            <td class="modalCount"></td>
                        </tr>
                        </tbody>
                    </table>
                    <p>위 계획을 삭제 하시겠습니까?</p>
                </div>
                <div class="card-footer">
                    <div class="card bg-danger text-white mb-2 moBtn deleteBtn">삭제</div>
                    <div class="card bg-dark text-white mb-2 moBtn">닫기</div>
                </div>
            </div>
        </div>
    </main>

    <script>
        $(".myModal .moBtn").on("click", () => {
            $(".myModal").hide();
        })
        $(".modifyModal .numBtns").on("click", (e) => {
            console.log(e);
            $(".modifyModal .setNum").val(Number($(".modifyModal .setNum").val()) + Number($(e.target).text()))
        })

        $(".myModal.deleteModal .deleteBtn").on("click", () => {
            let modalPlanId = document.querySelector(".modalPlanId").value;
            $.ajax({
                url : "planDelete",
                type: "post",
                data: {
                    planId: modalPlanId
                },
                success: function(data) {
                    location.reload();
                },
                error: function(request, error) {
                    alert("code:" + request.status+ "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        })

        $(".myModal.modifyModal .modify").on("click", () => {
            let modalPlanNum = document.querySelector("#modifyPlanNum").value;
            let modalPlanId = document.querySelector(".modalPlanId").value;
            $.ajax({
                url : "planModify",
                type: "post",
                data: {
                    planNum: modalPlanNum,
                    planId: modalPlanId
                },
                success: function(data) {
                    location.reload();
                },
                error: function(request, error) {
                    alert("code:" + request.status+ "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        })
    </script>
</th:block>
</html>