<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">
    <!-- 여기에 생성할 페이지 코드 작성 -->
    <main class="formStyle planAdd">
        <div class="container-fluid px-4">
            <h1 class="mt-4">계획등록</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">메인</li>
                <li class="breadcrumb-item active">조달계획</li>
            </ol>
            <div class="cardGroup">
                <div class="card mb-4 cardForm">
                    <div class="card-header headerRight">
                        <div class="dateSelect">
                            <span>등록날짜</span>
                            <input type="date" class="form-control" id="completeDate" name="completeDate">

                        </div>
                    </div>
                    <form method="post" class="card-body" id="planAddForm">
                        <div class="inputLine">
                            <select class="form-control" id="pbSelect">
                                <option>품목선택</option>
                                <option th:each="probrand : ${proList}" th:value="${probrand.productId}" th:data-bname="${probrand.brandName}" th:data-bid="${probrand.brandId}">[[${probrand.productName}]]</option>
                            </select>
                            <input class="form-control" type="text" id="selectNum" placeholder="수량">
                            <div>
                                <div class="card bg-primary text-white mb-2 prodBtn addTd">
                                    <div class="card-body resetLink">추가</div>
                                </div>
                            </div>
                        </div>
                        <div class="inputLine relative">
                            <table class="inputListTable">
                                <tr>
                                    <th>협력업체</th>
                                    <th>품목</th>
                                    <th>수량</th>
                                    <th>삭제</th>
                                </tr>
                            </table>
                            <div class="card numSetBoard">
                                <div class="flex">
                                    <input type="text" class="form-control setNum">
                                    <div class="card bg-primary text-white mb-2 prodBtn setBoardConfirm">
                                        <div class="card-body resetLink ">확인</div>
                                    </div>
                                </div>
                                <div class="numBtnGroup">
                                    <div class="numBtns">-1</div>
                                    <div class="numBtns">-10</div>
                                    <div class="numBtns">-100</div>
                                    <div class="numBtns">-1000</div>
                                    <div class="numBtns">+1</div>
                                    <div class="numBtns">+10</div>
                                    <div class="numBtns">+100</div>
                                    <div class="numBtns">+1000</div>
                                </div>
                            </div>
                        </div>
                        <div class="btnGroup">
                            <div class="card bg-primary text-white mb-2 prodBtn">
                                <div class="card-body resetLink registerBtn">계획 등록</div>
                            </div>
                            <div class="card bg-primary text-white mb-2 prodBtn">
                                <a href="planList" class="card-body resetLink">목록</a>
                            </div>
                        </div>
                    </form>
                </div>
                <aside class="sideCard">
                    <div class="card imageCard">
                        <div class="card-header">당일 발주 현황</div>
                        <div class="card-body">
                            <table class="sideListTable">
                                <tr>
                                    <th>품목</th>
                                    <th>필요수량</th>
                                    <th>현재재고</th>
                                </tr>
                                <tr th:each="order : ${oList}">
                                    <td th:text="${order.productName}"></td>
                                    <td th:text="${order.orderNum}"></td>
                                    <td th:text="${order.productNum}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </main>

    <script>
        $("#pbSelect").on("change", (e) => {
            let bname = e.target.options[e.target.selectedIndex].dataset.bname
            let bid = e.target.options[e.target.selectedIndex].dataset.bid

            $(e.target).attr("data-selectbname", bname);
            $(e.target).attr("data-selectbid", bid);

            $(e.target).next().val("");
            $(e.target).next().focus();
        })
        let addCount=0;
        $(".addTd").on("click", (e) => {
            let productId = $("#pbSelect").val();
            let productName = $("#pbSelect").find(`option[value="${productId}"]`).text();

            let brandName = $("#pbSelect")[0].dataset.selectbname;
            let brandId = $("#pbSelect")[0].dataset.selectbid;
            let number = $("#selectNum").val();

            $(".inputListTable tbody").append(`<tr>`
                +`<td>${brandName}`
                    +`<input type=hidden id=brand${addCount} name=brand${addCount} class=brandIds value="${brandId}">`
                +`<td>${productName}`
                    +`<input type=hidden id=product${addCount} name=product${addCount} class=productIds value="${productId}">`
                +`<td id=addNum${addCount} class=addNums>${number}`
                +`<td class=deleteLine>x`
            +`</tr>`)

            addCount++;

            $(`.inputListTable tbody tr:nth-child(${addCount+1}) .addNums`).on("click", (e) => {
                console.log(e.target.offsetTop);
                $(".numSetting").removeClass("numSetting");
                $(e.target).addClass("numSetting")
                $(".planAdd .numSetBoard").css({
                    display: "block",
                    top: e.target.offsetTop
                })
                $(".numSetBoard .setNum").val($(e.target).text());
            })

            $(`.inputListTable tbody tr:nth-child(${addCount+1}) .deleteLine`).on("click", (e) => {
                $(e.target).parent().remove();
            })
        })

        $(".numBtns").on("click", (e) => {
            $(".numSetBoard .setNum").val(Number($(".numSetBoard .setNum").val()) + Number($(e.target).text()))
        })

        $(".setBoardConfirm").on("click", () => {
            $(".inputListTable tbody tr .numSetting").text($(".numSetBoard .setNum").val())
             $(".numSetBoard .setNum").val("");
             $(".inputListTable tbody tr .numSetting").removeClass("numSetting");
             $(".planAdd .numSetBoard").css({
                    display: "none",})
        })

        let registerBtn = document.querySelector(".registerBtn");
        registerBtn.addEventListener("click", () => {

            if ($("#completeDate").val() == "") {
                alert("날짜를 입력해주세요");
                $("#completeDate").focus();
                return false;
            }


            let planDate = document.querySelector("#completeDate").value;
            let trCount = document.querySelectorAll(".inputListTable tbody tr:not(:first-child)");
            let objList = [];
            trCount.forEach((e,idx)=> {
                let obj = {
                    productId: $(e).find(`.productIds`).val(),
                    brandId: $(e).find(`.brandIds`).val(),
                    planNumber: $(e).find(`.addNums`).text()
                }
                objList.push(obj);
            })

            $.ajax({
                url: "planAdd",
                method: "POST",
                traditional : true,
                data: {
                    planDate : planDate,
                    inputPlanList: JSON.stringify(objList)
                },
                success: (result) => {
                    console.log("성공");
                    location.href= "/ezen25/plan/planList";
                },
                error: (request, error) => {
                    alert("code:" + request.status+ "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        })
    </script>
</th:block>
</html>