<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/layout/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<th:block layout:fragment="content">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="/pluto/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- responsive css -->
    <link href="/pluto/css/responsive.css" rel="stylesheet"/>
    <!-- select bootstrap -->
    <link href="/pluto/css/bootstrap-select.css" rel="stylesheet"/>
    <!-- scrollbar css -->
    <link href="/pluto/css/perfect-scrollbar.css" rel="stylesheet"/>
    <!-- fancy box js -->
    <link href="/pluto/css/jquery.fancybox.css" rel="stylesheet"/>
    <!-- 여기에 생성할 페이지 코드 작성 -->
    <main>
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h2>입고 관리</h2>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="">
                <!-- table section -->
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>입고 대기 리스트</h2>
                            </div>
                            <a th:href="@{/ezen25/request/import/register}">
                                <button class="btn btn-outline-primary" style="float:right;" type="button">등록하기</button>
                            </a>
                        </div>
                        <div class="full graph_head">
                            <div>
                                <form action="/ezen25/request/import/list" id="searchForm" method="get">
                                    <div class="input-group">
                                        <input name="page" type="hidden" value="1">
                                        <div class="input-group-prepend">
                                            <select class="custom-select" name="type">
                                                <option th:selected="${pageRequestDTO.type == 'nped'}" value="nped">
                                                    전체
                                                </option>
                                                <option th:selected="${pageRequestDTO.type == 'n'}" value="n">
                                                    이름
                                                </option>
                                                <option th:selected="${pageRequestDTO.type == 'p'}" value="p">
                                                    연락처
                                                </option>
                                                <option th:selected="${pageRequestDTO.type == 'e'}" value="e">
                                                    이메일
                                                </option>
                                                <option th:selected="${pageRequestDTO.type == 'd'}" value="d">
                                                    설명
                                                </option>

                                            </select>
                                        </div>
                                        <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}"
                                               type="text">
                                        <div class="input-group-append" id="button-addon4">
                                            <button class="btn btn-outline-secondary btn-search" type="button">Search
                                            </button>
                                            <button class="btn btn-outline-secondary btn-clear" type="button">Clear
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>

                            </div>
                        </div>
                        <div class="table_section padding_infor_info">
                            <div class="table-responsive-sm">
                                <form action="/ezen25/common/importSelectDelete" method="post">
                                    <table class="table" style="text-align:center;">
                                        <thead>
                                        <tr>
                                            <th><input id="selectAll" type="checkbox"></th>
                                            <th>#</th>
                                            <th>품목 코드</th>
                                            <th>개수</th>
                                            <th>날짜</th>
                                            <th>요청서 코드</th>
                                            <th>상태</th>
                                            <th>
                                                <button class="new-button"
                                                        onclick="return importDeleteSelected()"
                                                        type="submit">
                                                    선택 삭제
                                                </button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="importDTO : ${importResult.dtoList}">
                                            <td><input name="importDeleteList" th:value="${importDTO.importId}"
                                                       type="checkbox">
                                            </td>
                                            <input name="importId" th:value="${importDTO.importId}" type="hidden">
                                            <td>
                                                <a th:href="@{/ezen25/request/import/read(importId = ${importDTO.importId}, page= ${importResult.page},
                        type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                                                    [[${importDTO.importId}]]
                                                </a>
                                            </td>
                                            <td>[[${importDTO.productId}]]</td>
                                            <td>[[${importDTO.importNum}]]</td>
                                            <td>[[${importDTO.importDate}]]</td>
                                            <td>[[${importDTO.requestCode}]]</td>
                                            <td>[[${importDTO.importStatus}]]</td>
                                            <td>
                                                <button class="removeBtn" onclick="confirmDelete()">
                                                    출하
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                                <ul class="pagination h-100 justify-content-center align-items-center">
                                    <li class="page-item " th:if="${importResult.prev}">
                                        <a class="page-link" tabindex="-1" th:href="@{/ezen25/request/import/list(page = ${importResult.start-1}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}"><</a>
                                    </li>

                                    <li th:class="'page-item ' + ${importResult.page == page?'active':''}"
                                        th:each="page: ${importResult.pageList}">
                                        <a class="page-link" th:href="@{/ezen25/request/import/list(page = ${page}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}">[[${page}]]</a>
                                    </li>

                                    <li class="page-item" th:if="${importResult.next}">
                                        <a class="page-link" th:href="@{/ezen25/request/import/list(page = ${importResult.end + 1}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}">></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">

            var searchForm = $("#searchForm");

            $('.btn-search').click(function(e) {

                searchForm.submit();

            });

            $('.btn-clear').click(function(e) {

                searchForm.empty().submit();

            });

        </script>
        <script th:inline="javascript">
            var actionForm = $("form");

            function confirmDelete() {
                if(confirm("삭제하겠습니까?")) {
                        alert("삭제가 완료되었습니다.");
                        actionForm
                        .attr("action", "/ezen25/request/import/remove")
                        .attr("method", "post");

                    actionForm.submit();
                } else {
                    return;
                }

            }
        </script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:inline="javascript">
            $(document).ready(function() {
              // 전체 선택 체크박스
              $("#selectAll").click(function() {
                  $("input[name='importDeleteList']").prop('checked', this.checked);
              });
          });
          // 선택 삭제 함수
          function importDeleteSelected() {
              var selectedItems = [];

              // 선택된 체크박스 가져오기
              $('input[name="importDeleteList"]:checked').each(function() {
                  selectedItems.push($(this).val());
              });

              // 선택된 항목이 없을 경우 알림
              if (selectedItems.length === 0) {
                  alert("선택된 항목이 없습니다.");
                  return false;
              }

              // 사용자에게 삭제 여부 확인
              var isConfirmed = confirm("선택한 항목을 삭제하시겠습니까?");

              // 사용자가 확인을 눌렀을 때 삭제 요청
              if (isConfirmed) {
                  console.log("deleteSelected 함수 호출됨");
                  alert("삭제완료");
                  return true;

              } else {
                  return false;
              }
          }
        </script>

    </main>
</th:block>
</html>