<!DOCTYPE html>
<html lang="ko" layout:decorate="~{/layout/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<th:block layout:fragment="content">
    <!-- 여기에 생성할 페이지 코드 작성 -->
    <main>
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h1 class="mt-4">입고 품목 - #[[${importDTO.importId}]]</h1>
                    </div>
                </div>
            </div>
            <input name="importId" th:value="${importDTO.importId}" type="hidden">
            <div>
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <table class="table_for_details" width="100%">
                                <tr class="tr_for_details" style="font-align:left;">
                                    <th class="td_for_details">품목 코드</th>
                                    <td class="td_for_details">[[${importDTO.productId}]]</td>
                                </tr>
                                <tr class="tr_for_details">
                                    <th class="td_for_details">개수</th>
                                    <td class="td_for_details">[[${importDTO.importNum}]]개</td>
                                </tr>
                                <tr class="tr_for_details">
                                    <th class="td_for_details">요청일자</th>
                                    <td class="td_for_details">[[${importDTO.importDate}]]</td>
                                </tr>
                                <tr class="tr_for_details">
                                    <th class="td_for_details">요청서 코드</th>
                                    <td class="td_for_details">[[${importDTO.requestCode}]]</td>
                                </tr>
                                <tr class="tr_for_details">
                                    <th class="td_for_details">상태</th>
                                    <td class="td_for_details">[[${importDTO.importStatus}]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float:right;">
                <form id="deleteForm" action="/ezen25/request/import/remove" method="post">
                    <input name="importId" th:value="${importDTO.importId}" type="hidden">
                </form>
                <a th:href="@{/ezen25/request/import/modify(importId = ${importDTO.importId}, page = ${pageRequestDTO.page},
         type = ${pageRequestDTO.type}, keyword = ${pageRequestDTO.keyword})}">
                    <button class="btn btn-primary" type="button">Modify</button>
                </a>
                <a></a>
                <a th:href="@{/ezen25/request/import/list(page=${pageRequestDTO.page}, type = ${pageRequestDTO.type},
         keyword = ${pageRequestDTO.keyword})}">
                    <button class="btn btn-info" type="button">List</button>
                </a>
                <button class="btn btn-danger removeBtn" type="button">삭제하기</button>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:inline="javascript">
            $(document).ready(function() {
                var actionForm = $("#deleteForm");

                $(".removeBtn").click(function() {
                    if(confirm("삭제하겠습니까?")) {
                        alert("삭제가 완료되었습니다.");
                        actionForm.submit();
                    } else {
                        return;
                    }
                });
            });
        </script>
    </main>
</th:block>
</html>