<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<th:block layout:fragment="content">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/pluto/css/bootstrap.min.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/pluto/css/responsive.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="/pluto/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="/pluto/css/perfect-scrollbar.css" />
    <!-- fancy box js -->
    <link rel="stylesheet" href="/pluto/css/jquery.fancybox.css" />
    <!-- 여기에 생성할 페이지 코드 작성 -->
    <main>
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h2>요청 관리</h2>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="">
                <!-- table section -->
                <div class="col-md-12">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>협력업체 리스트</h2>
                            </div>
                            <a th:href="@{/ezen25/brand/register}">
                                <button style="float:right;" type="button" class="btn btn-outline-primary">등록하기</button>
                            </a>
                        </div>
                        <div class="full graph_head">
                            <div>
                                <form action="/ezen25/brand/list" method="get" id="searchForm">
                                    <div class="input-group">
                                        <input type="hidden" name="page" value="1">
                                        <div class="input-group-prepend">
                                            <select class="custom-select" name="type">
                                                <option value="nped" th:selected="${pageRequestDTO.type == 'nped'}">
                                                    전체
                                                </option>
                                                <option value="n" th:selected="${pageRequestDTO.type == 'n'}">
                                                    이름
                                                </option>
                                                <option value="p" th:selected="${pageRequestDTO.type == 'p'}">
                                                    연락처
                                                </option>
                                                <option value="e" th:selected="${pageRequestDTO.type == 'e'}">
                                                    이메일
                                                </option>
                                                <option value="d" th:selected="${pageRequestDTO.type == 'd'}">
                                                    설명
                                                </option>

                                            </select>
                                        </div>
                                        <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                                        <div class="input-group-append" id="button-addon4">
                                            <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
                                            <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>

                            </div>
                        </div>
                        <div class="table_section padding_infor_info">
                            <div class="table-responsive-sm">
                                <table class="table" style="text-align:center;">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="selectAll"></th>
                                        <th>요청서 코드</th>
                                        <th>품목 코드</th>
                                        <th>개수</th>
                                        <th>요청일자</th>
                                        <th>출고예정일자</th>
                                        <th>비고</th>
                                        <th>상태</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="dto : ${result.dtoList}">
                                        <td><input name="deleteList" type="checkbox" value="${board.board_id}"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>


                                    </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination h-100 justify-content-center align-items-center">
                                    <li class="page-item " th:if="${result.prev}">
                                        <a class="page-link" th:href="@{/ezen25/brand/list(page = ${result.start-1}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}" tabindex="-1"><</a>
                                    </li>

                                    <li th:class="'page-item ' + ${result.page == page?'active':''}" th:each="page: ${result.pageList}">
                                        <a class="page-link" th:href="@{/ezen25/brand/list(page = ${page}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}">[[${page}]]</a>
                                    </li>

                                    <li class="page-item" th:if="${result.next}">
                                        <a class="page-link" th:href="@{/ezen25/brand/list(page = ${result.end + 1}, type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}">></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">

            var searchForm = $("#searchForm");

            $('.btn-search').click(function(e) {

                searchForm.submit();

            });

            $('.btn-clear').click(function(e) {

                searchForm.empty().submit();

            });

        </script>
        <script th:inline="javascript">
            $(document).ready(function() {
                // 전체 선택 체크박스
                $("#selectAll").click(function() {
                    $("input[name='deleteList']").prop('checked', this.checked);
                });
            });
            // 선택 삭제 함수
            function deleteSelected() {
                var selectedItems = [];

                // 선택된 체크박스 가져오기
                $('input[name="deleteList"]:checked').each(function() {
                    selectedItems.push($(this).val());
                });

                // 선택된 항목이 없을 경우 알림
                if (selectedItems.length === 0) {
                    alert("선택된 항목이 없습니다.");
                    return false;
                }

                // 사용자에게 삭제 여부 확인
                var isConfirmed = confirm("선택한 항목을 삭제하시겠습니까?");

                // 사용자가 확인을 눌렀을 때 삭제 요청
                if (isConfirmed) {
                    console.log("deleteSelected 함수 호출됨");
                    alert("삭제완료");
                    return true;
                } else {
                    return false;
                }
            }
        </script>
    </main>
</th:block>
</html>