<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
    <th:block layout:fragment="content">
        <!-- 여기에 생성할 페이지 코드 작성 -->
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">품목관리</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">품목관리</a></li>
                    <li class="breadcrumb-item active">품목리스트</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                        .
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        품목 리스트
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple" class="dataTableStyle">
                            <thead>
                            <tr>
                                <th style="text-align: center;">이미지</th>
                                <th>이름</th>
                                <th>브랜드</th>
                                <th>대분류</th>
                                <th>소분류</th>
                                <th>생산가격</th>
                                <th>판매가격</th>
                                <th>상세</th>
                                <th>삭제</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>이미지</th>
                                <th>이름</th>
                                <th>브랜드</th>
                                <th>대분류</th>
                                <th>소분류</th>
                                <th>생산가격</th>
                                <th>판매가격</th>
                                <th>상세</th>
                                <th>삭제</th>
                            </tr>
                            </tfoot>
                            <tbody >
                            <tr th:each="product : ${pList}">
                                <td><div class="cellStyle"><img  th:src="@{/image/NoImg.png}" alt="이미지"/></div></td>
                                <td><div class="cellStyle" th:text="${product.productName}"></div></td>
                                <td><div class="cellStyle" th:text="${product.brandName}"></div></td>
                                <td><div class="cellStyle" th:text="${product.mCategory}"></div></td>
                                <td><div class="cellStyle" th:text="${product.sCategory}"></div></td>
                                <td><div class="cellStyle" th:text="${#numbers.formatInteger(product.originalPrice,3,'COMMA')}"></div></td>
                                <td><div class="cellStyle" th:text="${product.sellPrice}"></div></td>
                                <td><div class="cellStyle"><a href="#">상세</a></div></td>
                                <td><div class="cellStyle"><a href="#">삭제</a></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </th:block>
</html>